.navbar__logo, .navbar__menu, .navbar__menu--links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  background: #f7f7f7;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem calc((100vw - 1200px) / 2);
  z-index: 10;
  position: relative;
}

.navbar__logo {
  color: #222121;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  margin-left: 24px;
}

.navbar__bars {
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .navbar__bars {
    color: #222121;
    opacity: 1;
    position: absolute;
    top: 22px;
    right: 20px;
    font-size: 2rem;
  }
}

.navbar__menu {
  list-style: none;
  text-align: center;
  margin-right: 24px;
}

@media screen and (max-width: 768px) {
  .navbar__menu {
    display: none;
  }
}

.navbar__menu--links {
  color: #222121;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
}

.navbar__menu--links:hover {
  color: #FCE14B;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar__menu #button {
  padding: 12px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #FCE14B;
  margin-left: 16px;
  color: #f7f7f7;
}

.navbar__menu #button:hover {
  background: #fb4b8e;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 285px;
  text-align: left;
  height: 62px;
  vertical-align: -2px;
}

.text > div {
  font-size: 0px;
  opacity: 0;
  margin-top: -30px;
  position: absolute;
}

.text > div:nth-child(1) {
  -webkit-animation: roll 5s linear infinite 0s;
          animation: roll 5s linear infinite 0s;
}

.text > div:nth-child(2) {
  -webkit-animation: roll 5s linear infinite 1s;
          animation: roll 5s linear infinite 1s;
}

.text > div:nth-child(3) {
  -webkit-animation: roll 5s linear infinite 2s;
          animation: roll 5s linear infinite 2s;
}

.text > div:nth-child(4) {
  -webkit-animation: roll 5s linear infinite 3s;
          animation: roll 5s linear infinite 3s;
}

@-webkit-keyframes roll {
  0% {
    font-size: 0px;
    opacity: 0;
    margin-top: -30px;
  }
  3% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  5% {
    font-size: inherit;
    opacity: 1;
    margin-top: 0px;
  }
  20% {
    font-size: inherit;
    opacity: 1;
    margin-top: 0px;
  }
  27% {
    font-size: 0px;
    opacity: 0.5;
    margin-top: 100px;
  }
  100% {
    font-size: 0px;
    opacity: 0;
    margin-top: -30px;
  }
}

@keyframes roll {
  0% {
    font-size: 0px;
    opacity: 0;
    margin-top: -30px;
  }
  3% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  5% {
    font-size: inherit;
    opacity: 1;
    margin-top: 0px;
  }
  20% {
    font-size: inherit;
    opacity: 1;
    margin-top: 0px;
  }
  27% {
    font-size: 0px;
    opacity: 0.5;
    margin-top: 100px;
  }
  100% {
    font-size: 0px;
    opacity: 0;
    margin-top: -30px;
  }
}

/* fin de la animacion */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
}

.hero {
  background-color: #f7f7f7;
}

.hero__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  margin: 0 auto;
  height: 90vh;
  z-index: 1;
  width: 100%;
  max-width: 1200px;
  padding-right: 24px;
  padding-left: 24px;
}

@media screen and (max-width: 768px) {
  .hero__container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    height: 100%;
  }
}

.hero__container--left {
  width: 100%;
  line-height: 1.2;
}

@media screen and (max-width: 768px) {
  .hero__container--left {
    padding: 5rem 0;
  }
}

@media screen and (max-width: 280px) {
  .hero__container--left {
    line-height: 1.5;
  }
}

.hero__container--left h1 {
  font-size: 4rem;
  color: #FCE14B;
}

@media screen and (max-width: 280px) {
  .hero__container--left h1 {
    font-size: 1.5rem;
  }
}

.hero__container--left h2 {
  font-size: 4rem;
  color: #222121;
}

@media screen and (max-width: 280px) {
  .hero__container--left h2 {
    font-size: 2rem;
  }
}

.hero__container--left p {
  font-size: 1rem;
  color: #222121;
  margin-top: 1rem;
  font-weight: 700;
}

@media screen and (max-width: 280px) {
  .hero__container--left p {
    font-size: 1.5rem;
  }
}

.hero__container .btn--danger {
  font-size: 1rem;
  background-color: #FCE14B;
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  color: #f7f7f7;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
  padding: 14px 32px;
}

.hero__container .btn--danger .sub {
  text-decoration: none;
  color: #f7f7f7;
}

.hero__container .btn--danger:hover {
  background: #fb4b8e;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.hero__container--btn {
  font-size: 1rem;
  background-color: #FCE14B;
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  color: #f7f7f7;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
}

.hero__container--btn a {
  position: relative;
  z-index: 2;
  color: #f7f7f7;
  text-decoration: none;
}

.hero__container--btn:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #fb4b8e;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px;
}

.hero__container--btn:hover:after {
  width: 100%;
}

.hero__container--right {
  text-align: center;
}

.hero__container--img {
  height: 100%;
  width: 100%;
}

.hero .text-en {
  color: #19becf;
  margin-right: 35px;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.hero .text-en span {
  font-size: 12px;
}

.hero .text-en:hover {
  color: #00a4b5;
}

.hero .btn-en {
  background: #19becf;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: background-color 0.8s ease;
  transition: background-color 0.8s ease;
}

.hero .btn-en:hover {
  background: #00a4b5;
  text-transform: uppercase;
}

.hero .bg-color-en {
  background: #19becf;
  color: #fff;
  padding: 2px 20px;
  font-size: 12px;
}

.hero .text-de {
  color: #feb813;
  margin-right: 35px;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.hero .text-de span {
  font-size: 12px;
}

.hero .text-de:hover {
  color: #e29f00;
}

.hero .btn-de {
  background: #feb813;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: background-color 0.8s ease;
  transition: background-color 0.8s ease;
}

.hero .btn-de:hover {
  background: #e29f00;
  text-transform: uppercase;
}

.hero .bg-color-de {
  background: #feb813;
  color: #fff;
  padding: 2px 20px;
  font-size: 12px;
}

.hero .text-es {
  color: #ee1a3b;
  margin-right: 35px;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.hero .text-es span {
  font-size: 12px;
}

.hero .text-es:hover {
  color: #c8001f;
}

.hero .btn-es {
  background: #ee1a3b;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: background-color 0.8s ease;
  transition: background-color 0.8s ease;
}

.hero .btn-es:hover {
  background: #c8001f;
  text-transform: uppercase;
}

.hero .bg-color-es {
  background: #ee1a3b;
  color: #fff;
  padding: 2px 20px;
  font-size: 12px;
}

.hero .text-process {
  color: #ff7139;
  margin-right: 35px;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.hero .text-process span {
  font-size: 12px;
}

.hero .text-process:hover {
  color: #f95413;
}

.hero .btn-process {
  background: #ff7139;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: background-color 0.8s ease;
  transition: background-color 0.8s ease;
}

.hero .btn-process:hover {
  background: #f95413;
  text-transform: uppercase;
}

.hero .bg-color-process {
  background: #ff7139;
  color: #fff;
  padding: 2px 20px;
  font-size: 12px;
}

.hero .group {
  margin-bottom: 20px;
}

.hero .title {
  margin-bottom: 15px;
  border-bottom: 1px solid #000;
  width: 25%;
  text-transform: uppercase;
  font-size: 14px;
}

.hero footer {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 20px 10px;
}

.hero .textos__footer {
  grid-column: 1/-1;
  margin-bottom: 30px;
}

.hero .icons-conteiner {
  padding-right: 20px;
}

.hero [class^="footer-item"] a {
  color: #fff;
  font-size: 25px;
}

.hero .icons__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .space {
  padding-right: 20px;
}

.hero .footer__item2 {
  display: inline-block;
}
/*# sourceMappingURL=styles.css.map */